body {
    font-family: "Inconsolata";
    font-size: 0.8rem;

    background-color: rgba(39, 39, 39, 1);
    color: rgba(215, 215, 215, 1);

    margin: 1rem auto;
    padding: 0 1rem;
    position: relative;

    max-width: calc(768px - 4rem);

    height: 100vh;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

body > p > * {
    display: block;
}

h2, p:first-of-type {
    text-align: center;
}

a {
    color: inherit;
}

a:active, a:visited {
    color: inherit;
}

ul {
    margin-bottom: 3rem;
    padding: 0;
    padding-left: 1rem;
    position: relative;
}

li, p {
    line-height: 1.5;
    margin: 0.5rem 0;
}

li > ul {
    margin: 0 1rem;
}

p + ul:after {
    content: '\2014';
    position: absolute;
    left: 50%;
    bottom: -2rem;
    transform: translate(-50%);
}
p + ul:last-of-type:after {
    content: '';
}

hr {
    margin-top: -1.5rem;
}
hr:first-of-type {
    margin-top: initial;
}

body > a {
    display: block;
    margin: 2rem auto;
    padding: 1rem;

    border: 1px solid rgba(215, 215, 215, 1);

    text-align: center;
    text-decoration: none;
    max-width: 10rem;
}
body > a:hover {
    background-color: rgba(215, 215, 215, 1);
    color: rgba(39, 39, 39, 1);
}

@media (min-width: 480px) {
    body {
        font-size: 1rem;
    }
}

@media print, (min-width: 480px) {
    body {
        padding: 0 2rem;
    }

    ul {
        padding-left: 2rem;
    }

    h2 {
        text-align: left;
    }

    p:first-of-type {
        text-align: right;
        position: absolute;
        top: 0;
        right: 2rem;
        margin-top: 0;
    }

    p strong:first-of-type, p em {
        display: inline-block;
    }

    p strong:last-of-type {
        float: right;
    }
}

@media screen {
    @font-face {
        font-family: "Inconsolata";
        font-style: normal;
        font-weight: normal;
        src: url("Inconsolata.woff") format("woff");
    }
}

@media print {
    body {
        background-color: white;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 8pt;

        margin: 3rem;
        margin-top: 2.5rem;
        padding: 0;
    }

    ul {
        padding-left: 1rem;
        margin-bottom: 1rem;
    }

    li, p {
        line-height: 1.25;
    }

    p:first-of-type {
        right: 0;
    }

    p + ul:after {
        content: '';
    }

    /* Capstone for page break */
    p:nth-of-type(4) {
        margin-top: 6rem;
        padding-top: 3rem;
    }

    hr {
       margin-top: 0rem;
    }

    body > a {
        display: none;
    }
}
